---
import { Button } from '@component/Button';

// Aquí puedes incluir cualquier lógica JavaScript necesaria.
// En este caso, el componente es puramente estático, por lo que no hay lógica.
---

<footer class="py-[20px]">
  <div class="max-w-[90%] grid grid-cols-2 gap-[16px] my-0 mx-auto">
    <Button label="Reportes" />
    <Button label="Cerrar caja" />
  </div>
</footer>
